
<br><center><h1>PARTY RECEIPT</h1></center>





<div id="cooldiv" class="row">
  <% party_total = 0 %>



<ul>
  table number:<%= @party.table_number %><br>
  has paid:<%= @party.is_paid %>
  <% @party.item_orders.each do |item_order| %>

  <li>


    <%=item_order.food_item.name%>
    $<%=item_order.food_item.price%>
    <% party_total += item_order.food_item.price %>

  </li>

  <% end %>

  <li class="tipDiv">
  total: $<%= party_total %><br>

  Tip suggestions:<br>
  10% $<%= percentage = party_total * 0.100 %><br>
  15% $<%= percentage = party_total * 0.150 %><br>
  20% $<%= percentage = party_total * 0.200 %>


  </li>
</ul>
